<div class="card card-profile text-center">
  <%= image_tag('card-bg', class: 'card-img-top') %>
  <div class="card-body">
    <h4 class="card-title">Lucky Draw!</h4>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-lg btn-social btn-#{provider}" do %>
          <%= "Sign in with #{OmniAuth::Utils.camelize(provider)}" %>
          <span class="fa fa-<%= provider %>"></span>
        <% end-%>
      <% end -%>
      <br />
      <br />
      <p class="card-text small">Sign in with your <a href="https://github.com/">GitHub</a> account to be in the running to win awesome prizes!</p>
  </div>
</div>
