@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";

$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #FB6D6B;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

html {
  padding-top: 5em;
  min-height: 100%;
}

body {
  background-color: transparent;
}

.card-profile {
  width: 340px;
  margin: 50px auto;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);

  .card-img-top {
    border-radius: 0;
  }

  .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
  }

  .card-title {
    margin-bottom: 50px;

    small {
      display: block;
      font-size: .6em;
      margin-top: .2em;
    }
  }
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

